/* Jamie Carlstone
Coding Boot Camp 2020
Unit 05 : Third Pary APIs
December 9, 2020 */


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  
}

.row {
  /* white-space: pre-wrap; */
  height: 80px;
  border-top: 1px solid white;
  display: flex;
  /* added below */
  margin: 17px;
  padding:20px;
  
}

.time-block{
  text-align: center;
  /* border-radius: 15px;  */
  white-space: pre-wrap;
}


.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}


.textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  margin-top: 2px;
}



.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.descriptionText{
  padding: 5px;
}


.past {
  background-color: #d3d3d3;
  /* color: white; */
}

.present {
  background-color: #ff6961;
  /* color: white; */
}

.future {
  background-color: #77dd77;
  /* color: white; */
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  white-space: pre-wrap;
  margin-top: 2px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.bi bi-calendar2-plus-fill {
  /* text-align: center; */

}

input {
  margin-top: 15px;
  width: 100%;
  height: 60%;
  background-color: inherit;
  border-style: hidden;
  white-space: pre-wrap;
  
}

.time-formatted {
  display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .col-sm-2 {

    width: 20%;
  
  }

  .col-sm-8 {

    width: 60%;
  
  }

}

